body {
	background-image: url("https://u.kanobu.ru/longreads/2015/12/20/331ca8e8-d856-422b-9366-eae1ac6f2bbe.jpg");
	background-repeat: no-repeat;
	background-position: -360px;
}

.container {
	width: 400px;
	padding-bottom: 20px;
	background-color: rgba(139, 0, 0, 0.4);
	margin: 250px auto 0;
	text-align: center;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 -5px 0 indianred;
}

img {
	width: 150px;
	height: 150px;
	margin: -60px 0 20px 0;
	background-color: darkred;
	border: 3px solid firebrick;
	border-radius: 50% 50% 5px 5px;
	position: relative;
	bottom: -5px;
	box-shadow: 0 -5px 0 indianred;
}

input[type="text"], input[type="password"] {
	width: 300px;
	height: 60px;
	margin: 15px 0;
	font-size: 18px;
	border-radius: 6px;
	border: 0;
	padding-left: 35px;
	outline: none;
}
input[type="submit"] {
	width: 100px;
	height: 50px;
	background-color: firebrick;
	color: #fff;
	font-size: 15px;
	border: none;
	border-bottom: 3px solid indianred;
	border-radius: 1px;
	margin-top: 15px;
	cursor: pointer;
	transition: 0.5s;
	outline: none;
}
form div:before {
	font-family: FontAwesome;
	position: relative;
	left: 35px;
	top: 3px;
	font-size: 30px;
	color: darkred;
}
form .text:before {
	content: "\f007";
}
form .password:before {
	content: "\f023";
}
.sup {
	margin-top: 10px;
	margin-bottom: 10px;
}
.sup a {
	color: ivory;
}

.icons {
	margin-top: 20px;
}
.icons div {
	display: inline;
}
.icons a {
	font-size: 30px;
	color: indianred;
	margin-right: 10px;
	transition: 0.3s;
	text-decoration: none;
}
.icons a:hover {
	color: white;
}
